doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		include coffeescripts/script.coffee
	body
		include includes/cart

		block content
		include includes/list

